<?xml version="1.0" encoding="utf-8"?>
<?ifndef ProductVersion?>
<?define ProductVersion=1.0.0?>
<?endif?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="MetadataDel"
    Language="1049"
    Codepage="1251"
    Version="$(var.ProductVersion)"
    Manufacturer="MetadataDel"
    UpgradeCode="{C76CE9A4-6A50-4889-9A22-7B07BB73C91D}"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="Нельзя установить более старую версию MetadataDel поверх более новой." AllowDowngrades="no" />
    <MediaTemplate EmbedCab="yes" />
    <SummaryInformation Codepage="1251" />

    <Feature Id="MainFeature" Title="MetadataDel" Level="1" AllowAbsent="no">
      <Files Include="$(var.PublishDir)\**" Directory="INSTALLFOLDER" />
      <ComponentRef Id="CtxMenuBaseRegistry" />
      <ComponentRef Id="CtxMenuWordRegistry" />
      <ComponentRef Id="CtxMenuExcelRegistry" />
      <ComponentRef Id="UserLogsCleanup" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramMenuFolder"><Directory Id="MetadataDelMenu" Name="MetadataDel" /></StandardDirectory>
    <Component Id="StartMenuShortcut" Directory="MetadataDelMenu" Guid="*">
      <Shortcut Id="MetadataDelShortcut" Name="MetadataDel" Target="[INSTALLFOLDER]MetadataDel.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveMetadataDelMenu" On="uninstall" />
      <!-- Non-advertised shortcuts require a per-user registry KeyPath (ICE43). -->
      <RegistryValue Root="HKCU" Key="SOFTWARE\MetadataDel" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>

  <!-- Журналы содержат пути очищенных файлов; удаляются из профиля пользователя, который удаляет программу. -->
  <Fragment>
    <SetProperty Id="MDEL_USER_LOGS" Value="[LocalAppDataFolder]MetadataDel\logs" After="AppSearch" Sequence="both" />
    <Component Id="UserLogsCleanup" Directory="INSTALLFOLDER" Guid="{3B0E7C2A-6E55-4C1B-9A57-2B3E9C6D8F14}">
      <RegistryValue Root="HKLM" Key="SOFTWARE\MetadataDel" Name="LogsCleanup" Type="integer" Value="1" KeyPath="yes" />
      <util:RemoveFolderEx On="uninstall" Property="MDEL_USER_LOGS" />
    </Component>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="MetadataDel" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="CtxMenuBaseRegistry" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.pdf\shell\Удалить метаданные">
        <RegistryValue Name="Icon" Value="[INSTALLFOLDER]MetadataDel.exe" Type="string" KeyPath="yes" />
      </RegistryKey>
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.pdf\shell\Удалить метаданные\command">
        <RegistryValue Value="&quot;[INSTALLFOLDER]MetadataDel.exe&quot; --log &quot;%1&quot;" Type="string" />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.docx\shell\Удалить метаданные">
        <RegistryValue Name="Icon" Value="[INSTALLFOLDER]MetadataDel.exe" Type="string" />
      </RegistryKey>
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.docx\shell\Удалить метаданные\command">
        <RegistryValue Value="&quot;[INSTALLFOLDER]MetadataDel.exe&quot; --log &quot;%1&quot;" Type="string" />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xlsx\shell\Удалить метаданные">
        <RegistryValue Name="Icon" Value="[INSTALLFOLDER]MetadataDel.exe" Type="string" />
      </RegistryKey>
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xlsx\shell\Удалить метаданные\command">
        <RegistryValue Value="&quot;[INSTALLFOLDER]MetadataDel.exe&quot; --log &quot;%1&quot;" Type="string" />
      </RegistryKey>
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="CtxMenuWordRegistry" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.doc\shell\Удалить метаданные">
        <RegistryValue Name="Icon" Value="[INSTALLFOLDER]MetadataDel.exe" Type="string" KeyPath="yes" />
      </RegistryKey>
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.doc\shell\Удалить метаданные\command">
        <RegistryValue Value="&quot;[INSTALLFOLDER]MetadataDel.exe&quot; --log &quot;%1&quot;" Type="string" />
      </RegistryKey>
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="CtxMenuExcelRegistry" Directory="INSTALLFOLDER" Guid="*">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xls\shell\Удалить метаданные">
        <RegistryValue Name="Icon" Value="[INSTALLFOLDER]MetadataDel.exe" Type="string" KeyPath="yes" />
      </RegistryKey>
      <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.xls\shell\Удалить метаданные\command">
        <RegistryValue Value="&quot;[INSTALLFOLDER]MetadataDel.exe&quot; --log &quot;%1&quot;" Type="string" />
      </RegistryKey>
    </Component>
  </Fragment>
</Wix>
